.game-over-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.795);
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  border-radius: 10px;
  padding: 30px;
  animation: slide 1s;
}

.game-over-header {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.game-over-button {
  color: white;
  background-color: rgb(124, 18, 132);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  border: none;
  margin-bottom: 20px;
}

.game-over-button:hover {
  background-color: rgb(91, 14, 97);
}

@keyframes slide {
  from {
    top: 50%;
  }
  to {
    top: 20%;
  }
}
